services:
    postgres:
      image: postgres:17-alpine
      container_name: postgres
      environment:
        - POSTGRES_DB=${DB_NAME}
        - POSTGRES_USER=${DB_USER}
        - POSTGRES_PASSWORD=${DB_PASSWORD}
      ports:
        - "54321:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - backend
      restart: unless-stopped
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
        interval: 10s
        timeout: 5s
        retries: 5
    api:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: api
      environment:
        - NODE_ENV=production
        - APP_PORT=9999
        - APP_NAME=DEXCHANGE_TEST
        - GLOBAL_PREFIX=api/v1
        - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?schema=public
        - X_API_KEY=${X_API_KEY}
        - CORS_ORIGIN=${CORS_ORIGIN}
        - HELMET_CSP_DIRECTIVES=${HELMET_CSP_DIRECTIVES}
      depends_on:
        postgres:
          condition: service_healthy
      command: sh -c "npm run prod"
      ports:
        - '9999:9999'
      networks:
        - backend


volumes:
  postgres_data:
    name: postgres_data

networks:
  backend:
    name: backend