services:
    postgres:
      image: postgres:17-alpine
      container_name: postgres
      environment:
        - POSTGRES_DB=${DB_NAME}
        - POSTGRES_USER=${DB_USER}
        - POSTGRES_PASSWORD=${DB_PASSWORD}
      ports:
        - "54321:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      networks:
        - backend
      restart: unless-stopped
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
        interval: 10s
        timeout: 5s
        retries: 5


volumes:
  postgres_data:
    name: postgres_data

networks:
  backend:
    name: backend